<div class="well" ng-repeat="drink in cartItems">

   <div class="container">

      <div class="row">

         <div class="col-xs-6 text-center">
            <h1>{{drink.name}}</h1>
         </div>

         <div class="col-xs-6 text-center">
            <br/>
            <button type="button" class="btn btn-lg btn-primary" ng-click="drink.number = drink.number - 1">-</button>
            <span class="label label-default" style="font-size:25px;">{{drink.number}}</span>
            <button type="button" class="btn btn-lg btn-primary" ng-click="drink.number = drink.number + 1">+</button>
         </div>
      </div>

      <div class="row">
         <div class="col-xs-6 text-center">
            <h3><span class="label label-default">$ {{drink.price}}</span></h3>
         </div>

         <div class="col-xs-6 text-center">
            <br/>
            <button type="button" class="btn btn-md btn-primary">More Info</button>

         </div>
      </div>



   </div>

</div>


<div class="container-fluid totalSec">

   <div class="row">
      <div class="col-xs-7 text-center">
         <h3><span class="label label-default">Total: $9.99</span>
         <span class="label label-default">SubTotal: $8.47</span></h3>
      </div>

      <div class="col-xs-5 text-center">
         <br/>
         <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#checkoutModal">Check-Out</button>
      </div>
   </div>

</div>



<div class="modal fade" id="checkoutModal" role="dialog">

   <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Payment</h4>
        </div>

        <div class="modal-body text-center">
           <button type="button" class="btn btn-lg btn-primary">Cash</button>
           <button type="button" class="btn btn-lg btn-primary">Debit/Credit</button>
        </div>

        <div class="modal-footer">

        </div>

      </div>

   </div>
</div>

