<div class="row">

   <div class="col-xs-12">
      <h2>{{drink.name}}: <span class="label label-primary">$ {{drink.price}}</span></h2>
   </div>

</div>

<div class="row">
   <div class="col-xs-6">
      <br/>
      <p>{{drink.description}}</p>
      <br/>
   </div>

   <div class="text-center col-xs-6"><img src=""/></div>

</div>

<div class="row">
   <div class="col-xs-6 text-center">
       <button type="button" class="btn btn-lg btn-primary" ng-click="drink.number = drink.number - 1">-</button>
       <span class="label label-default" style="font-size:25px;">{{drink.number}}</span>
       <button type="button" class="btn btn-lg btn-primary" ng-click="drink.number = drink.number + 1">+</button>
       <button type="button" class="btn btn-lg btn-primary" ng-click="cartService.addToCart(drink)">Add To Cart</button>
   </div>
   <div class="col-xs-6 text-center">
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#moreInfo">More Info</button>
   </div>
</div>
