/*used to pad the navbars for better logo display*/
.navPad{
   padding:7px;
}

/*used to stop nav overlap*/
.conMar{
   margin-top:110px;
   margin-bottom:85px;
}

/*styles to center the modul section*/
.modal {

  text-align: center;
}

.totalSec{

    bottom:55px;
    padding-bottom:5px;
    position:fixed;
    width:90%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background:#F8F8F8;
    border:1px solid #E7E7E7;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .modDescPad{
     padding-top:45px;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
